/*
 * Copyright 2011-2013 Alex Belozerov, Ilya Stepanov
 * 
 * This file is part of PerfectPixel.
 * 
 * PerfectPixel is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * PerfectPixel is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with PerfectPixel.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
    font-family: 'Icons';
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAgEAAsAAAAADIQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAABL8AAAe2vWqvrkZGVE0AAAXIAAAAGgAAABxnWME+R0RFRgAABeQAAAAdAAAAIAAzAARPUy8yAAAGBAAAAE0AAABgUEbeAGNtYXAAAAZUAAAAWQAAAWYCAPbnaGVhZAAABrAAAAAuAAAANvw6XytoaGVhAAAG4AAAAB4AAAAkBBD/52htdHgAAAcAAAAAEAAAABgKAAAAbWF4cAAABxAAAAAGAAAABgAGUABuYW1lAAAHGAAAAN0AAAFuy/RJkHBvc3QAAAf4AAAADAAAACAAAwAAeJy1VX1M1HUYf+64d44TzrslcP5Op4QLHaeHitacllGp+Y+EjjGzaGjD1JQ0IWuh0+lvQ5a3Zq75FpQO17JaJSN16ZQCfJmWSckQEZooSiV348inz3O/H6d/6J/yx4fn+7x8npfv8/2dgUwmMhgMlpeKV65YQwYjGWhGxGeMjEyIjDCpzgTVaVIclLrAzaoaF5xWtTQSipSZfbRqmI8o2UcVKT7y+ax+NyUIh42SyP3OijfzAoFAjFrjx99CmkMvU4FhC1nE0WgcZeozH7Nss4Rc4VDE42VaeWCSyrSk8V/mowN7mbKrWpn3mZcwn1v1ui7tmXpOs3L1wjOq4DxVtGeYZmmeXUyLY9Hb03RpSeMkzYoM36o2pven7WKuy+j0Mt9zzGAyzCRI4mCYMhuSsQpS4A0mkyT6+5WfmIxHENI38ySS3fm018Z8ZP5l5lOHxwlkyvH3uC6TaRokyjucqaChYcVuLZ5cx54Rzj1MSQcHJc98wNndWm6+97PoHB8AjqOeqz2bmW+eQ+NdlfDrmteMY+seGBp6mYZn7Nel1A1va1ZSPOUSUcyU0Wxn7u4cwZRVe435n1lNTONPf6kKLldF28nkPDpZPB1MI9K/sEl4A3gDo4Xya8A3QUmDoSjPnpfUe3Wpq7JKrJOkxNlwyW7HOD48VYKMrT5cY1plNfONyu1M3g2rmK9LfTEQHaBajroBLroBYUPgHTLIUXGx4bODuWyY+8tx3NeVsnKBBjOT7/wy5lvW8ai/YiySG51M7s0HmDu+r9Lq5as/Zku98/TxSb1882w7c2vOdG1AfLHQpw2IL+SGcLu97QS8nWjECrT9AOndEFPC5yXo8bJ5n8B+yT0RufurMWrFd4t5oPMKk//FNer9JQ7oK5e9fbe2hnxjEZiyZgwwt4/BRmRY74BtwkdM6Rt/A3tRQSPz1MkzvbI4T8oKtd7fIz84E4sOYTUwPko04hH8l5vM5HhvOUKLl00UWG0WRa+YkCkx4WO4b3THAlVbuCzc50Vn10dv43vT29ZqgONWFdxpbeuYCnf+GgMz6grjjtNfewG1nrjENFZe4o2600xP7dzx6KeFaaz+CjhSWolm3gHF1gbmsL0e6/XWmYIYgN3RtjY60fuwrUCf3D2wmCmlFvt9M3UR0xP29cyD6/8ExZQT7hiAYrBcEVO97hRzRyBeNy91XR6HIbrHoP9r+RVwu4QF6F5ZhGuz52JlJlwA18i8khiA6/b6P7BvVTtxo+NbMIv+POnhOffjebs2V7ghHEKBScEc3FczTHeDQXxmmlv80U3WmCCqnLi+WYnWWOL6oAS1SHjQH4a/CLpqSK/s6LEw5dxGx1nJNTrgqDQ9qOaLkLgpucafZc2KlnlHOXrCZd4eq0xTwceu1o+uCzvwJAqvKnMt8r9D1IoOOCLSFfFE8r0Pp537AJkSJ+t4JNkO62OdSrjoEWOJegZz0L5LjZSZBkOREJoKeVRvaU/4YpOqWhSHIcH9qtOuOh34rRsuP5vrkNiD1Xr+k114dLalpUzmk3gU5k2pTPa601gdR/8WrFnKoTnoEECuBd+hzTj0DRnkiJ8Jvos9j8Vzf/404VyO78rTf9m0TFxfUmJO/B/12TqaAHicY2BgYGQAgjO2i86D6LO9/eYwGgBLLwa8AAB4nGNgZGBg4ANiCQYQYGJgBEJWIGYB8xgABIEAOAAAAHicY2BmYmCcwMDKwMHow5jGwMDgDqW/MkgytDAwMDGwMjPAAKMAAwIEpLmmMDgwZH5gYHzw/wGDHuMDBoUGoBqwwgNAQgEIGQEH9gxqAAAAeJxjYGBgZoBgGQZGBhBIAPIYwXwWBhcgzcPAwcAEZDMwZDLkMJR9YPj/H6wOxCuF8P7P/D+dgUGAFWoCAwMbmGQB8RmBbJgwzQETxCsQ2+lmK0EAAAJcDNgAAAB4nGNgZGBgAOJ9DtNl4vltvjJwMzGAwNnefnME/f8BEwPjAyCXgwEsDQAgQApsAAB4nGNgZGBgfPD/AYMeEwMDwz8GIAkUQQFsAG3qA/kAAHicY2JgYGBCwyAAAAC4AAsAAFAAAAYAAHicbY49agMxEIW/tXcd8oOLFKnllIFdVoorly4MblO4N0YsBrMC2b5HqlSpcowcIAfIifJWFqRIBGK+N3ozT8AdbxQMp6CSuvCIKx4zj5nRZy7lec9ccctn5onUt5xFea3OTZoaeMSU+8xjljxlLuV5zVzxwEfmifpfrNkRlHmE9S70Ki94Os4c2BIlfXc+bAWr5DulGuXwGBwNrepC93fTRVu91sx1nTyWZ60I/WkVYueNa1qzMClR1bp6XrvWyvL3PxslRel96g97h0w2Ph73oTe2af+Z+gE2gzFvAAAAeJxjYGbACwAAfQAE) format('woff'),
    url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWdYwT4AAAeQAAAAHEdERUYANQAGAAAHcAAAACBPUy8yUCTcHwAAAVgAAABWY21hcAQG+fQAAAHQAAABZmdhc3D//wADAAAHaAAAAAhnbHlmcXqJ+gAAA0wAAAJwaGVhZPw6XysAAADcAAAANmhoZWEEEP/pAAABFAAAACRobXR4CqoAAAAAAbAAAAAgbG9jYQJkAc4AAAM4AAAAEm1heHAATwA/AAABOAAAACBuYW1ly/RJkAAABbwAAAFucG9zdKBOTksAAAcsAAAAOgABAAAAAQAAYm0ywF8PPPUACwIAAAAAAM2NjzcAAAAAzY2PNwAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIAAAD+AAIAAAEAAAAAAAAAAAAAAAAAAAAIAAEAAAAIADwABQAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAABEAAAAAAAAAAAAAAAUGZFZABAAGnwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAgAAAAIAAAACAAAAAgAAAAAAAAAAAAADAAAAAwAAABwAAQAAAAAAYAADAAEAAAAcAAQARAAAAAwACAACAAQAAABpAGwAdvAA//8AAAAAAGkAbAB18AD//wAA/5v/mQAAEAcAAQAAAAAAAAAGAAAAAAAGAAMAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAFAAAAAAAAAAAGAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEAKQA6AEqATgAAAADAAAAQAIAAYAACQAhACkAAAAiBgceATI2NyYnFhcGBwYiJyYnNjc2NwYVFBYyNjU0JxYGFAYiJjQ2MgFSpIokJIqkiiQkXi4dHS46iDouHR0uAgQIS2pLCAR8HCgcHCgBgFhISFhYSEgDHS4uHSUlHS4uHQICFRc1S0s1FxUCBigcHCgcAAAABQAAAAACAAHgABAAGAAmADAAOwAAARYXDgEjIic3FjMyNzY3JicHIic3FhUUBhMjByYjIgYHFhcHFTMBBTIWFwcuATU0Ngc2NzY3BhUUFwcmAaQ7ISSKUi4sJxkaRDouHRwsgREQnQRLqxtuKi1SiiQgO1sbAcX+8BIbAjYSFxyFHS4CBAgaHSoBTCpCSFgPJwYlHS4sHaYEnRARNUsBXW4OWEhBKlobAcWCFxI2AhsSFBxjLh0CAhUXKyMdHAAAAwAA/+ABQAHAABkAJQAvAAABIzU0JisBIgYdASMiBh0BFBYzITI2PQE0JgcjNyY1NDYyFhUUBzcjNTQ2OwEyFhUBKAg4KEAoOAgKDg4KARAKDg5yQA4OExoTDi6AEw1ADRMBAGAoODgoYA4K8AoODgrwCg7gRgkRDRMTDREJmmANExMNAAAAAAIAAP/gAeABwAAjAC8AAAEjIgYdASMiBh0BFBYzITI2PQE0JisBNTQ2OwEyFh0BMzU0JgMjNyY1NDYyFhUUBwGAQCg4yAoODgoBEAoODgoIEw1ADRNAOOhADg4TGhMOAcA4KGAOCvAKDg4K8AoOYA0TEw1gYCg4/mBGCRENExMNEQkAAAEAAP/gAgAB4AACAAARASECAP4AAeD+AAAAAAAAAAwAlgABAAAAAAABAAUADAABAAAAAAACAAcAIgABAAAAAAADACEAbgABAAAAAAAEAAUAnAABAAAAAAAFAAsAugABAAAAAAAGAAUA0gADAAEECQABAAoAAAADAAEECQACAA4AEgADAAEECQADAEIAKgADAAEECQAEAAoAkAADAAEECQAFABYAogADAAEECQAGAAoAxgBJAGMAbwBuAHMAAEljb25zAABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABGAG8AbgB0AEYAbwByAGcAZQAgADIALgAwACAAOgAgAEkAYwBvAG4AcwAgADoAIAAxADIALQA0AC0AMgAwADEAMwAARm9udEZvcmdlIDIuMCA6IEljb25zIDogMTItNC0yMDEzAABJAGMAbwBuAHMAAEljb25zAABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABJAGMAbwBuAHMAAEljb25zAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAEAAgBZAEwATwBYAQIHdW5pRjAwMAAAAAAAAf//AAIAAQAAAA4AAAAYAAAAAAACAAEAAwAHAAEABAAAAAIAAAAAAAEAAAAAzD2izwAAAADNjY83AAAAAM2Njzc=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#chromeperfectpixel-panel,
#chromeperfectpixel-panel *,
#chromeperfectpixel-imgtools,
#chromeperfectpixel-imgtools img,
#chromeperfectpixel-imgtools *,
.chromeperfectpixel-overlay {
    border:0;
    color:#000;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:auto;
    height:auto;
    position:static;
    font: 10pt/10pt sans-serif;
    content:none;
    text-transform:none;
    text-shadow:none;
    list-style:none;
    max-width:none;
    max-height:none;
    min-width:0;
    min-height:0;
    box-sizing: initial;
    image-rendering: -webkit-optimize-contrast;
}

/* Chrome default style values */
#chromeperfectpixel-panel textarea:disabled,
#chromeperfectpixel-panel input[type="color"]:disabled,
#chromeperfectpixel-panel input[type="date"]:disabled,
#chromeperfectpixel-panel input[type="datetime"]:disabled,
#chromeperfectpixel-panel input[type="datetime-local"]:disabled,
#chromeperfectpixel-panel input[type="email"]:disabled,
#chromeperfectpixel-panel input[type="month"]:disabled,
#chromeperfectpixel-panel input[type="password"]:disabled,
#chromeperfectpixel-panel input[type="number"]:disabled,
#chromeperfectpixel-panel input[type="search"]:disabled,
#chromeperfectpixel-panel input[type="tel"]:disabled,
#chromeperfectpixel-panel input[type="text"]:disabled,
#chromeperfectpixel-panel input[type="time"]:disabled,
#chromeperfectpixel-panel input[type="url"]:disabled,
#chromeperfectpixel-panel input[type="week"]:disabled {
    background-color: #EBEBE4;
}

/* Chrome default style values */
#chromeperfectpixel-panel input,
#chromeperfectpixel-panel input[type="password"],
#chromeperfectpixel-panel input[type="search"] {
    background-color: white;
    border: 2px inset;
}

#chromeperfectpixel-panel label input, label textarea, label select {
    display: inline;
}

#chromeperfectpixel-panel *:before,
#chromeperfectpixel-panel *:after {
    content:none;
}

#chromeperfectpixel-panel input[type=text],
#chromeperfectpixel-panel input[type=number] {
    margin:2px;
    margin-right:0;
    padding:1px;
}

#chromeperfectpixel-panel input[type=range] {
    display: inline;
}

#chromeperfectpixel-panel {
    background:#fefefe;
    border-radius:10px;
    width:320px;
    height:auto;
    position:fixed;
    border:none;
    top:20px;
    right:20px;
    z-index: 2147483647;
    box-shadow: 0 0 10px black;
    opacity:0.7;
    color:#000;
    -webkit-transition:opacity 0.5s ease-in-out;
    -webkit-transition-delay:0.3s;
}
#chromeperfectpixel-window{
    position: fixed;
    z-index: -10;
    left:0;
    top:0;
    right:0;
    bottom:0;
    pointer-events: none;
}

#chromeperfectpixel-panel.hidden {
    display: none;
}
#chromeperfectpixel-panel.collapsed,
#chromeperfectpixel-panel.collapsed.chromeperfectpixel-locale-ru{
    height: 32px;
    width: 95px;
}
#chromeperfectpixel-panel.collapsed #chromeperfectpixel-panel-body {
    display: none;
}

#chromeperfectpixel-panel.collapsing #chromeperfectpixel-panel-body *,
#chromeperfectpixel-panel.collapsing h1,
#chromeperfectpixel-panel.collapsing #chromeperfectpixel-min-buttons {
    opacity: 0;
}

#chromeperfectpixel-panel.collapsed.dragged {
    height: 32px;
    width: 32px;
    overflow: hidden;
}
#chromeperfectpixel-panel.collapsed h1{
    display: none;
}
#chromeperfectpixel-panel.collapsed #chromeperfectpixel-min-buttons {
    top: 3px;
    left: 28px;
    position: absolute;
    display: block;
}
#chromeperfectpixel-panel.collapsed  #chromeperfectpixel-min-buttons .chromeperfectpixel-min-showHideBtn {
    float: left;
}
#chromeperfectpixel-panel.collapsed  #chromeperfectpixel-min-buttons .chromeperfectpixel-min-lockBtn {
    padding-top: 7px;
    float: left;
}

#chromeperfectpixel-panel.collapsed.vertical {
    width: 32px;
    height: 95px;
}

#chromeperfectpixel-panel.collapsed.vertical #chromeperfectpixel-min-buttons{
    left: 0;
    top: 32px;
    position: absolute;
}

#chromeperfectpixel-panel.collapsed.vertical #chromeperfectpixel-min-buttons .chromeperfectpixel-min-showHideBtn {
    float: none;
}
#chromeperfectpixel-panel.collapsed.vertical #chromeperfectpixel-min-buttons .chromeperfectpixel-min-lockBtn {
    padding-top: 4px;
    float: none;
}

#chromeperfectpixel-panel.attached-top {
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
}
#chromeperfectpixel-panel.attached-left {
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
}
#chromeperfectpixel-panel.attached-right {
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;
}
#chromeperfectpixel-panel.attached-bottom {
    border-bottom-left-radius: 0 ;
    border-bottom-right-radius: 0 ;
}

#chromeperfectpixel-panel.chromeperfectpixel-locale-ru {
	width: 335px;
}

#chromeperfectpixel-panel:hover {
    opacity:1;
    -webkit-transition-duration:0.1s;
    -webkit-transition-delay:0s;
}

#chromeperfectpixel-panel-header
{
    position: relative;
}

#chromeperfectpixel-header-logo
{
    position:absolute;
    cursor:move !important;
    left: 8px;
    top: 8px;
    height: 16px;
    width: 16px;
    border: none;
    border-radius:0;

    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
}

#chromeperfectpixel-header-showHideBtn.chromeperfectpixel-showHideBtn-enabled
{
    opacity: 1.0;
}

#chromeperfectpixel-header-showHideBtn.chromeperfectpixel-showHideBtn-disabled
{
    opacity: 0.5;
}

#chromeperfectpixel-panel h1 {
    text-align:center !important;
    cursor:move;
    padding:10px;
    margin:0;
    font-size:1.2em;
    font-weight:bold;
}

#chromeperfectpixel-section {
    padding:0 10px 10px;
    overflow:hidden;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-opacity span  {
    position:relative;
    top:-2px;
    padding-right:20px;
}
#chromeperfectpixel-panel #chromeperfectpixel-section-opacity input[type=range] {
    width: 230px;
    border: none;
    background: transparent;
}

#chromeperfectpixel-panel.chromeperfectpixel-locale-ru #chromeperfectpixel-section-opacity input[type=range] {
	width: 205px;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-origin {
    height: 105px;
}
    #chromeperfectpixel-panel #chromeperfectpixel-section-origin > span {
        position:relative;
        top:50px;
    }
    #chromeperfectpixel-panel #chromeperfectpixel-origin-controls {
        margin-left: 90px;
        position: relative;
    }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button {
            width:30px;
            height:30px;
            position:absolute;
            padding: 0;
        }
            #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button span {
                text-align:center !important;
                font-size:1.2em;
            }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls > div {
            position:absolute;
            top:21px;
            right:0;
        }

            #chromeperfectpixel-panel #chromeperfectpixel-origin-controls > div input {
                width: 45px;
            }

        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-ymore {
            top:60px;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-yless {
            top:0;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xmore {
            top:30px;
            left:60px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xless {
            top:30px;
            left:0;
        }

#chromeperfectpixel-section-scale{
    float: right;
    margin-top: -20px;
}

    #chromeperfectpixel-section-scale-label{
        display: inline-block;
        margin-right: 2px;
    }

    #chromeperfectpixel-section-scale input{
        width: 45px;
    }

#chromeperfectpixel-panel button {
    padding: 5px;    
}

#chromeperfectpixel-panel button span {
    text-align:center !important;
}

#chromeperfectpixel-panel #chromeperfectpixel-layers {
    /*border: 1px solid blue;*/
    padding: 5px 0 5px 0;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer {
    vertical-align: middle;
    text-align: center;
    display: block;
    border: 1px dashed black;
    padding: 5px;
    margin-top: 1px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer > * {
    vertical-align: middle;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer .title {
    line-height: 1;
    outline: none;
    margin-top: 20px;
    vertical-align: top;
    display: block;
    color: white;
    text-shadow: black 1px 1px 5px;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
}
          
#chromeperfectpixel-panel .chromeperfectpixel-layer input[type=checkbox],
#chromeperfectpixel-panel .chromeperfectpixel-layer input[type=radio]
{
    margin: 0 15px 0 9px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-thumbwrapper {
    display: inline-block;
    width:203px;
    overflow: hidden;
    text-align:center !important;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-delete {
    margin: 0 0 0 15px;
}

    #chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-delete > span {
        display: inline-block;
        width:13px;
        height:13px;
    }

#chromeperfectpixel-panel #chromeperfectpixel-buttons
{
    padding-top: 5px;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area
{
    float: left;
    position: relative;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area input[type=file] {
	position: relative;
	text-align: right;
	width: 95px;
	opacity: 0;
	z-index: 1;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area #chromeperfectpixel-fakefile {
	position: absolute;
	left: 0px;
	top: 0px;
        white-space:nowrap;
	z-index: 2;
}

#chromeperfectpixel-panel .chromeperfectpixel-coords-label
{
    display: inline-block;
    width:15px;
}

#chromeperfectpixel-panel #chromeperfectpixel-progressbar-area
{
    padding-top: 5px;
    padding-bottom: 5px;
}

#chromeperfectpixel-min-buttons{
    display: none;
    -webkit-user-select: none;
    box-sizing: content-box;
}
#chromeperfectpixel-min-buttons > *{
    cursor: pointer;
    font-family: 'Icons';
    height: 16px;
    width: 16px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    -webkit-user-select: none;
    box-sizing: content-box;
}
#chromeperfectpixel-min-buttons [disabled]{
    opacity: .3;
    cursor: default;
}

#chromeperfectpixel-min-buttons .chromeperfectpixel-min-lockBtn{
    margin-left: 2px;
    padding-top: 4px;
}

#chromeperfectpixel-notification-box{
    display: none;
    background-color: #FFFEBE;
    box-shadow: 0 0 2px black;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
    position: relative;
}
    #chromeperfectpixel-notification-text,
    #chromeperfectpixel-notification-text *{
        font-size: 12px;
        line-height: 14px;
        vertical-align: top;
    }
    #chromeperfectpixel-notification-text  a{
        line-height: 14px;
        height: 14px;
        color: #6800A6;
        font-size: 12px;
        vertical-align: top;
    }
    #chromeperfectpixel-closeNotification {
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;

    }

    #chromeperfectpixel-closeNotification:hover {
        opacity: 0.5;
    }
