/*
 * Copyright 2011-2012 Alex Belozerov, Ilya Stepanov
 * 
 * This file is part of PerfectPixel.
 * 
 * PerfectPixel is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * PerfectPixel is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with PerfectPixel.  If not, see <http://www.gnu.org/licenses/>.
 */

#chromeperfectpixel-panel,
#chromeperfectpixel-panel *,
#chromeperfectpixel-imgtools,
#chromeperfectpixel-imgtools img,
#chromeperfectpixel-imgtools *,
.chromeperfectpixel-overlay {
    color:#000;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:auto;
    height:auto;
    position:static;
    font: 10pt/10pt sans-serif;
    content:none;
    text-transform:none;
    text-shadow:none;
    list-style:none;
    max-width:none;
    max-height:none;
    min-width:0;
    min-height:0;
}

/* Chrome default style values */
#chromeperfectpixel-panel textarea:disabled,
#chromeperfectpixel-panel input[type="color"]:disabled,
#chromeperfectpixel-panel input[type="date"]:disabled,
#chromeperfectpixel-panel input[type="datetime"]:disabled,
#chromeperfectpixel-panel input[type="datetime-local"]:disabled,
#chromeperfectpixel-panel input[type="email"]:disabled,
#chromeperfectpixel-panel input[type="month"]:disabled,
#chromeperfectpixel-panel input[type="password"]:disabled,
#chromeperfectpixel-panel input[type="number"]:disabled,
#chromeperfectpixel-panel input[type="search"]:disabled,
#chromeperfectpixel-panel input[type="tel"]:disabled,
#chromeperfectpixel-panel input[type="text"]:disabled,
#chromeperfectpixel-panel input[type="time"]:disabled,
#chromeperfectpixel-panel input[type="url"]:disabled,
#chromeperfectpixel-panel input[type="week"]:disabled {
    background-color: #EBEBE4;
}

/* Chrome default style values */
#chromeperfectpixel-panel input,
#chromeperfectpixel-panel input[type="password"],
#chromeperfectpixel-panel input[type="search"] {
    border: 2px inset;
}

/* Chrome default style values */
#chromeperfectpixel-panel input, input[type="password"],
#chromeperfectpixel-panel input[type="search"] {
    background-color: white;
    border: 2px inset;
}

#chromeperfectpixel-panel label input, label textarea, label select {
    display: inline;
}

#chromeperfectpixel-panel *:before,
#chromeperfectpixel-panel *:after {
    content:none;
}

#chromeperfectpixel-panel input[type=text],
#chromeperfectpixel-panel input[type=number] {
    margin:2px;
    margin-right:0;
    padding:1px;
}

#chromeperfectpixel-panel {
    background:#fefefe;
    border-radius:10px;
    width:320px;
    height:auto;
    position:fixed;
    border:none;
    top:20px;
    right:20px;
    z-index: 2147483647;
    box-shadow: 0 0 10px black;
    opacity:0.7;
    color:#000;
    -webkit-transition:opacity 0.5s ease-in-out;
    -webkit-transition-delay:0.3s;
}

#chromeperfectpixel-panel:hover {
    opacity:1;
    -webkit-transition-duration:0.1s;
    -webkit-transition-delay:0s;
}

#chromeperfectpixel-panel-header
{
    position: relative;
}

#chromeperfectpixel-header-logo
{
    position:absolute;
    cursor:move;
    left: 8px;
    top: 8px;
    height: 16px;
    width: 16px;
    border: none;
    border-radius:0px;
}

#chromeperfectpixel-header-showHideBtn.chromeperfectpixel-showHideBtn-enabled
{
    opacity: 1.0;
}

#chromeperfectpixel-header-showHideBtn.chromeperfectpixel-showHideBtn-disabled
{
    opacity: 0.5;
}

#chromeperfectpixel-panel h1 {
    text-align:center !important;
    cursor:move;
    padding:10px;
    margin:0;
    font-size:1.2em;
    font-weight:bold;
}

#chromeperfectpixel-panel-body {
    padding:0 10px 10px;
    overflow:hidden;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-opacity span  {
    position:relative;
    top:-2px;
    padding-right:20px;
}
#chromeperfectpixel-panel #chromeperfectpixel-section-opacity input[type=range] {
    width: 230px;
    border: none;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-origin {
    height: 105px;
}
    #chromeperfectpixel-panel #chromeperfectpixel-section-origin > span {
        position:relative;
        top:50px;
    }
    #chromeperfectpixel-panel #chromeperfectpixel-origin-controls {
        margin-left: 90px;
        position: relative;
    }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button {
            width:30px;
            height:30px;
            position:absolute;
            padding: 0;
        }
            #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button span {
                text-align:center !important;
                font-size:1.2em;
            }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls > div {
            position:absolute;
            top:21px;
            right:0;
        }

            #chromeperfectpixel-panel #chromeperfectpixel-origin-controls > div input {
                width: 45px;
            }

        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-ymore {
            top:60px;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-yless {
            top:0;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xmore {
            top:30px;
            left:60px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xless {
            top:30px;
            left:0;
        }

#chromeperfectpixel-section-scale{
    float: right;
    margin-top: -20px;
}

    #chromeperfectpixel-section-scale-label{
        display: inline-block;
        margin-right: 2px;
    }

    #chromeperfectpixel-section-scale input{
        width: 45px;
    }

#chromeperfectpixel-panel button {
    padding: 5px;    
}

#chromeperfectpixel-panel button span {
    text-align:center !important;
}

#chromeperfectpixel-panel #chromeperfectpixel-layers {
    /*border: 1px solid blue;*/
    padding: 5px 0 5px 0;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer {
    display: block;
    border: 1px dashed black;
    padding: 5px;
    margin-top: 1px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer > * {
    vertical-align: middle;
}
          
#chromeperfectpixel-panel .chromeperfectpixel-layer input[type=checkbox],
#chromeperfectpixel-panel .chromeperfectpixel-layer input[type=radio]
{
    margin: 0 15px 0 9px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-thumbwrapper {
    display: inline-block;
    width:203px;
    overflow: hidden;
    text-align:center !important;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-delete {
    margin: 0 0 0 15px;
}

    #chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-delete > span {
        display: inline-block;
        width:13px;
        height:13px;
    }

#chromeperfectpixel-panel #chromeperfectpixel-buttons
{
    padding-top: 5px;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area
{
    float: left;
    position: relative;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area input[type=file] {
	position: relative;
	text-align: right;
	width: 95px;
	opacity: 0;
	z-index: 1;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area #chromeperfectpixel-fakefile {
	position: absolute;
	left: 0px;
	top: 0px;
        white-space:nowrap;
	z-index: 2;
}

#chromeperfectpixel-panel .chromeperfectpixel-coords-label
{
    display: inline-block;
    width:15px;
}

#chromeperfectpixel-panel #chromeperfectpixel-progressbar-area
{
    padding-top: 5px;
    padding-bottom: 5px;
}
