#chromeperfectpixel-panel,
#chromeperfectpixel-panel * {
    color:#000;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:auto;
    height:auto;
    position:static;
    font: 10pt/10pt sans-serif;
    content:none;
    text-transform:none;
    text-shadow:none;
}

#chromeperfectpixel-panel *:before,
#chromeperfectpixel-panel *:after {
    content:none;
}

#chromeperfectpixel-panel input[type=text] {
    margin:2px;
    padding:1px;
}

#chromeperfectpixel-panel {
    background:#fefefe;
    border-radius:10px;
    width:300px;
    height:auto;
    padding:10px;
    position:fixed;
    border:none;
    top:20px;
    right:20px;
    z-index: 100500;
    box-shadow: 0 0 10px black;
    opacity:0.7;
    color:#000;
    -webkit-transition:opacity 0.5s ease-in-out;
    -webkit-transition-delay:0.3s;
}

#chromeperfectpixel-panel:hover {
    opacity:1;
    -webkit-transition-duration:0.1s;
    -webkit-transition-delay:0s;
}

#chromeperfectpixel-panel h1 {
    text-align:center;
    cursor:move;
    padding:0 0 10px;
    margin:0;
    font-size:1.2em;
    font-weight:bold;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-opacity span  {
    position:relative;
    top:-2px;
    padding-right:20px;
}
#chromeperfectpixel-panel #chromeperfectpixel-section-opacity input[type=range] {
    width: 230px;
}

#chromeperfectpixel-panel #chromeperfectpixel-section-origin {
    height: 100px;
}
    #chromeperfectpixel-panel #chromeperfectpixel-section-origin > span {
        position:relative;
        top:50px;
    }
    #chromeperfectpixel-panel #chromeperfectpixel-origin-controls {
        margin-left: 90px;
        position: relative;
    }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button {
            width:30px;
            height:30px;
            position:absolute;
            padding: 0;
        }
            #chromeperfectpixel-panel #chromeperfectpixel-origin-controls button span {
                text-align:center;
                font-size:1.2em;
            }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls > div {
            position:absolute;
            top:21px;
            left:117px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-ymore {
            top:60px;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-yless {
            top:0;
            left:30px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xmore {
            top:30px;
            left:60px;
        }
        #chromeperfectpixel-panel #chromeperfectpixel-origin-controls #chromeperfectpixel-xless {
            top:30px;
            left:0;
        }

#chromeperfectpixel-panel button {
    padding: 5px;    
}

#chromeperfectpixel-panel button span {
    text-align:center;
}

#chromeperfectpixel-panel #chromeperfectpixel-layers {
    /*border: 1px solid blue;*/
    padding: 5px 0 5px 0;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer {
    border: 1px dashed black;
    padding: 5px;
    margin-top: 1px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer > * {
    vertical-align: middle;
}
          
#chromeperfectpixel-panel .chromeperfectpixel-layer input[type=checkbox] {
    margin: 0 15px 0 9px;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-thumbwrapper {
    display: inline-block;
    width:203px;
    text-align:center;
}
            
#chromeperfectpixel-panel .chromeperfectpixel-layer .chromeperfectpixel-delete {
    margin: 0 0 0 15px;
    width:25px;
    height:25px;
}

#chromeperfectpixel-panel #chromeperfectpixel-buttons
{
    padding-top: 5px;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area
{
    float: left;
    position: relative;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area input[type=file] {
	position: relative;
	text-align: right;
	width: 95px;
	opacity: 0;
	z-index: 1;
}

#chromeperfectpixel-panel #chromeperfectpixel-upload-area #chromeperfectpixel-fakefile {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

#chromeperfectpixel-panel .chromeperfectpixel-coords-label
{
    display: inline-block;
    width:15px;
}
